<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>得点登録</title>

  <link rel="stylesheet" href="/css/resultedit.css">
</head>
<body>
  <% if(items.hyouka==1){ %>
  <%var hyouka= "昇順" %>
  <% }else if(items.hyouka==0){ %>
  <%var hyouka= "降順" %>
  <%};%>
  <h1>競技名:<%= items.name %>　　評価基準:<%= hyouka %></h1>
  <h1></h1>

  </h1>
  <form action="/colorresultedit/<%= items.id %>" method="post">
    <table>
      <tr>
        <th>1組-記録</th>
        <th>2組-記録</th>
        <th>3組-記録</th>
        <th>4組-記録</th>
        <th>5組-記録</th>
        <th>6組-記録</th>
        <th>7組-記録</th>
        <th>8組-記録</th>

      </tr>
      <tr>
        <th><input type="number" class="input" step="0.00001" name="onekiroku" value="<%= items.onekiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="twokiroku" value="<%= items.twokiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="threekiroku" value="<%= items.threekiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="fourkiroku" value="<%= items.fourkiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="fivekiroku" value="<%= items.fivekiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="sixkiroku" value="<%= items.sixkiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="sevenkiroku" value="<%= items.sevenkiroku %>"></th>
        <th><input type="number" class="input" step="0.00001" name="eightkiroku" value="<%= items.eightkiroku %>"></th>

      </tr>
    </table>
    <table>
      <tr>
        <th>1組-減点考慮済み記録</th>
        <th>2組-減点考慮済み記録</th>
        <th>3組-減点考慮済み記録</th>
        <th>4組-減点考慮済み記録</th>
        <th>5組-減点考慮済み記録</th>
        <th>6組-減点考慮済み記録</th>
        <th>7組-減点考慮済み記録</th>
        <th>8組-減点考慮済み記録</th>

      </tr>
      <tr>
        <th><input type="number" class="input" step="0.00001" name="onec" value="<%= items.onec %>"></th>
        <th><input type="number" class="input" step="0.00001" name="twoc" value="<%= items.twoc %>"></th>
        <th><input type="number" class="input" step="0.00001" name="threec" value="<%= items.threec %>"></th>
        <th><input type="number" class="input" step="0.00001" name="fourc" value="<%= items.fourc %>"></th>
        <th><input type="number" class="input" step="0.00001" name="fivec" value="<%= items.fivec %>"></th>
        <th><input type="number" class="input" step="0.00001" name="sixc" value="<%= items.sixc %>"></th>
        <th><input type="number" class="input" step="0.00001" name="sevenc" value="<%= items.sevenc %>"></th>
        <th><input type="number" class="input" step="0.00001" name="eightc" value="<%= items.eightc %>"></th>
      </tr>
    </table>
    <table>
      <tr>
        <th>1組-減点</th>
        <th>2組-減点</th>
        <th>3組-減点</th>
        <th>4組-減点</th>
        <th>5組-減点</th>
        <th>6組-減点</th>
        <th>7組-減点</th>
        <th>8組-減点</th>

      </tr>
      <tr>
        <th><input type="number" class="input" name="onep" value="<%= items.onep %>"></th>
        <th><input type=" number" class="input" name="twop" value="<%= items.twop %>"></th>
        <th><input type="number" class="input" name="threep" value="<%= items.threep %>"></th>
        <th><input type="number" class="input" name="fourp" value="<%= items.fourp %>"></th>
        <th><input type="number" class="input" name="fivep" value="<%= items.fivep %>"></th>
        <th><input type="number" class="input" name="sixp" value="<%= items.sixp %>"></th>
        <th><input type="number" class="input" name="sevenp" value="<%= items.sevenp %>"></th>
        <th><input type="number" class="input" name="eightp" value="<%= items.eightp %>"></th>
      </tr>
    </table>
    <table>
      <tr>
        <th>1組-半減</th>
        <th>2組-半減</th>
        <th>3組-半減</th>
        <th>4組-半減</th>
        <th>5組-半減</th>
        <th>6組-半減</th>
        <th>7組-半減</th>
        <th>8組-半減</th>

      </tr>
      <tr>
        <th><select class="input select" name="oneh">
            <% if(items.oneh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>
          </select></th>
        <th><select class="input select" name="twoh">

            <% if(items.twoh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
        <th><select class="input select" name="threeh">

            <% if(items.threeh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
        <th><select class="input select" name="fourh">

            <% if(items.fourh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
        <th><select class="input select" name="fiveh">

            <% if(items.fiveh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
        <th><select class="input select" name="sixh">

            <% if(items.sixh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
        <th><select class="input select" name="sevenh">

            <% if(items.sevenh=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
        <th><select class="input select" name="eighth">

            <% if(items.eighth=="半減"){ %>
            <% var gen="selected" %>
            <%}else if(items.hyouka==""){%>
            <% var ngen="selected" %>

            <% }; %>
            <option<%= gen %>>
              </option>
              <option<%= ngen %>>半減</option>
                <option></option>

          </select></th>
      </tr>
    </table>
    <table>
      <tr>
        <th>1組-備考</th>
        <th>2組-備考</th>
        <th>3組-備考</th>
        <th>4組-備考</th>


      </tr>
      <tr>

        <th><textarea class="bikou" name="oneb" value="<%= items.oneb %>"><%= items.oneb %></textarea></th>
        <th><textarea class="bikou" name="twob" value="<%= items.twob %>"><%= items.twob %></textarea></th>
        <th><textarea class="bikou" name="threeb" value="<%= items.threeb %>"><%= items.threeb %></textarea></th>
        <th><textarea class="bikou" name="fourb" value="<%= items.fourb %>"><%= items.fourb %></textarea></th>

      </tr>
      <tr>
        <th>5組-備考</th>
        <th>6組-備考</th>
        <th>7組-備考</th>
        <th>8組-備考</th>
      </tr>
      <tr>
        <th><textarea class="bikou" name="fiveb" value="<%= items.fiveb %>"><%= items.fiveb %></textarea></th>
        <th><textarea class="bikou" name="sixb" value="<%= items.sixb %>"><%= items.sixb %></textarea></th>
        <th><textarea class="bikou" name="sevenb" value="<%= items.sevenb %>"><%= items.sevenb %></textarea></th>
        <th><textarea class="bikou" name="eightb" value="<%= items.eightb %>"><%= items.eightb %></textarea></th>

      </tr>
    </table>
    <input type="submit" value="記録する" class="submit">
  </form>
</body>
</html>