<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>結果の閲覧</title>

  <link rel="stylesheet" href="/css/publication.css">
</head>

<body>
  <% if (items.grade =="M1" ){ %>
  <%=  %>
  <%  var color1="red" %>
  <%  var color2="blue" %>
  <%  var color3="black" %>
  <%  var color4="green" %>
  <%  var color5="yellow" %>
  <%  var color6="purple" %>
  <%  var color7="orange" %>

  <% }else if(items.grade=="M2"){ %>
  <%  var color5="blue" %>
  <%  var color3="black" %>
  <%  var color2="green" %>
  <%  var color6="yellow" %>
  <%  var color7="purple" %>
  <%  var color1="orange" %>
  <% }else if(items.grade=="M3"){ %>
  <%  var color3="red" %>
  <%  var color2="black" %>
  <%  var color4="green" %>
  <%  var color1="yellow" %>
  <%  var color7="purple" %>
  <%  var color5="orange" %>
  <% } %>

  <table>
    <tr>
      <th colspan="2" class="with">
        H1競技結果
      </th>
      <th colspan="7">
        得点
      </th>
      <th colspan="7">
        順位
      </th>
      <th colspan="1" class="with2">
        詳細閲覧ボタン
      </th>
    </tr>
    <tr>
      <th> 競技名</th>
      <th>学年</th>
      <th class="red">1組</th>
      <th class="blue">2組</th>
      <th class="black">3組</th>
      <th class="green">4組</th>
      <th class="yellow">5組</th>
      <th class="purple">6組</th>
      <th class="orange">7組</th>
      <th class="red">1組</th>
      <th class="blue">2組</th>
      <th class="black">3組</th>
      <th class="green">4組</th>
      <th class="yellow">5組</th>
      <th class="purple">6組</th>
      <th class="orange">7組</th>
      <th>記録</th>
    </tr>
    <% items.forEach((item)=> {%>
    <!-- 得点一覧 -->
    <% var tokuten=[] %>
    <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
    <!-- クラスタイム（記録）-->
    <% var time1=[] %>
    <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
    <!-- クラスタイム（判定）-->
    <% var time2=[] %>
    <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
    <!--減点-->
    <% var genten=[] %>
    <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
    <!--半減-->
    <% var hanngen=[] %>
    <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>
    <!--タイム統合処理-->
    <% for (let i = 0; i < tokuten.length; i++) { %>
    <% if (time2[i] !== null) { %>
    <% time1[i]=time2[i]+time1[i] %>
    <% } %>
    <% } %>
    <!--順位処理-->
    <% if (item.hyouka ==0 ) { %>
    <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% }else if(item.hyouka ==1){ %>
    <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% } %>
    <!--得点変換処理-->
    <% var hennkann=[] %>
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann.push(tokuten[ranks[i]-1]) %>
    <% } %>
    <!--得点減点処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann[i]=hennkann[i]-genten[i] %>
    <% } %>
    <!--得点半減処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (hanngen[i]=="半減") { %>
    <% hennkann[i]=hennkann[i]/2 %>

    <% } %>
    <% } %>
    <!--総合順位-->
    <% var sorted=hennkann.slice().sort(function(a, b){return b - a});%>
    <% var all = hennkann.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <!--未記入対策-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (time1[i]==null) { %>
    <% hennkann[i]="" %>
    <% all[i]="" %>

    <% } %>
    <% } %>


    <tr>

      <th><%= item.name %></th>
      <th><%= item.grade %></th>
      <th><%= hennkann[0] %></th>
      <th><%= hennkann[1] %></th>
      <th><%= hennkann[2] %></th>
      <th><%= hennkann[3] %></th>
      <th><%= hennkann[4] %></th>
      <th><%= hennkann[5] %></th>
      <th><%= hennkann[6] %></th>



      <th><%=all[0] %></th>
      <th><%=all[1] %></th>
      <th><%=all[2] %></th>
      <th><%=all[3] %></th>
      <th><%=all[4] %></th>
      <th><%=all[5] %></th>
      <th><%=all[6] %></th>

      <th class="syousai"><a href="/publication/<%= item.id %>">詳細閲覧</a></th>





    </tr>


    <%  });%>
    <tr>
      <% var oneall=0 %>
      <% var twoall=0 %>
      <% var threeall=0 %>
      <% var fourall=0 %>
      <% var fiveall=0 %>
      <% var sixall=0 %>
      <% var sevenall=0 %>

      <% for (let i = 0; i < items.length; i++) { %>
      <% var item=items[i] %>
      <!-- 得点一覧 -->
      <% var tokuten=[] %>
      <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
      <!-- クラスタイム（記録）-->
      <% var time1=[] %>
      <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
      <!-- クラスタイム（判定）-->
      <% var time2=[] %>
      <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
      <!--減点-->
      <% var genten=[] %>
      <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
      <!--半減-->
      <% var hanngen=[] %>
      <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>

      <!--タイム統合処理-->
      <% for (let f = 0; f < tokuten.length; f++) { %>
      <% if (time2[f] !== null) { %>
      <% time1[f]=time2[f]+time1[f] %>
      <% } %>
      <% } %>
      <!--順位処理-->
      <% if (item.hyouka ==0 ) { %>
      <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% }else if(item.hyouka ==1){ %>
      <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% } %>

      <!--得点変換処理-->
      <% var hennkann=[] %>
      <% for (let g = 0; g < 7; g++) { %>
      <% hennkann.push(tokuten[ranks[g]-1]) %>
      <% } %>


      <!--得点減点処理-->
      <% for (let h = 0; h < 7; h++) { %>
      <% hennkann[h]=hennkann[h]-genten[h] %>
      <% } %>
      <!--得点半減処理-->
      <% for (let k = 0; k < 7; k++) { %>
      <% if (hanngen[k]=="半減") { %>
      <% hennkann[k]=hennkann[k]/2 %>
      <% } %>
      <% } %>

      <!--未記入対策-->
      <% for (let n = 0; n < 7; n++) { %>
      <% if (time1[n]==null) { %>
      <% hennkann[n]=0 %>
      <% } %>
      <% } %>
      <!--合計算出-->
      <% oneall=oneall+hennkann[0] %>
      <% twoall=twoall+hennkann[1] %>
      <% threeall=threeall+hennkann[2] %>
      <% fourall=fourall+hennkann[3] %>
      <% fiveall=fiveall+hennkann[4] %>
      <% sixall=sixall+hennkann[5] %>
      <% sevenall=sevenall+hennkann[6] %>



      <% } %>

      <th colspan="2">合計</th>
      <th><%= oneall %></th>
      <th><%= twoall %></th>
      <th><%= threeall %></th>
      <th><%= fourall %></th>
      <th><%= fiveall %></th>
      <th><%= sixall %></th>
      <th><%= sevenall %></th>

      <% var allrank1=[]%>
      <% allrank1.push(oneall,twoall,threeall,fourall,fiveall,sixall,sevenall)%>
      <% var sorted=allrank1.slice().sort(function(a, b){return b - a});%>
      <% var sougouzyunni1 = allrank1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <th><%= sougouzyunni1[0] %></th>
      <th><%= sougouzyunni1[1] %></th>
      <th><%= sougouzyunni1[2] %></th>
      <th><%= sougouzyunni1[3] %></th>
      <th><%= sougouzyunni1[4] %></th>
      <th><%= sougouzyunni1[5] %></th>
      <th><%= sougouzyunni1[6] %></th>
      <th><%= sougouzyunni1[7] %></th>
    </tr>
  </table>
  <!--変数リセット-->

  <table>
    <tr>
      <th colspan="2" class="with">
        H2競技結果
      </th>
      <th colspan="7">
        得点
      </th>
      <th colspan="7">
        順位
      </th>
      <th colspan="1" class="with2">
        詳細閲覧ボタン
      </th>
    </tr>
    <tr>
      <th> 競技名</th>
      <th>学年</th>
      <th class="orange">1組</th>
      <th class="green">2組</th>
      <th class="black">3組</th>
      <th class="pink">4組</th>
      <th class="blue">5組</th>
      <th class="yellow">6組</th>
      <th class="purple">7組</th>
      <th class="orange">1組</th>
      <th class="green">2組</th>
      <th class="black">3組</th>
      <th class="pink">4組</th>
      <th class="blue">5組</th>
      <th class="yellow">6組</th>
      <th class="purple">7組</th>
      <th>記録</th>
    </tr>

    <% items2.forEach((item)=> {%>
    <!-- 得点一覧 -->
    <% var tokuten=[] %>
    <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
    <!-- クラスタイム（記録）-->
    <% var time1=[] %>
    <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
    <!-- クラスタイム（判定）-->
    <% var time2=[] %>
    <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
    <!--減点-->
    <% var genten=[] %>
    <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
    <!--半減-->
    <% var hanngen=[] %>
    <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>
    <!--タイム統合処理-->
    <% for (let i = 0; i < tokuten.length; i++) { %>
    <% if (time2[i] !== null) { %>
    <% time1[i]=time2[i]+time1[i] %>
    <% } %>
    <% } %>
    <!--順位処理-->
    <% if (item.hyouka ==0 ) { %>
    <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% }else if(item.hyouka ==1){ %>
    <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% } %>
    <!--得点変換処理-->
    <% var hennkann=[] %>
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann.push(tokuten[ranks[i]-1]) %>
    <% } %>
    <!--得点減点処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann[i]=hennkann[i]-genten[i] %>
    <% } %>
    <!--得点半減処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (hanngen[i]=="半減") { %>
    <% hennkann[i]=hennkann[i]/2 %>

    <% } %>
    <% } %>
    <!--総合順位-->

    <% var sorted2=hennkann.slice().sort(function(a, b){return b - a});%>
    <% var all2 = hennkann.slice().map(function(x){return sorted2.indexOf(x) + 1});%>
    <!--未記入対策-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (time1[i]==null) { %>
    <% hennkann[i]="" %>
    <% all2[i]="" %>

    <% } %>
    <% } %>


    <tr>

      <th><%= item.name %></th>
      <th><%= item.grade %></th>
      <th><%= hennkann[0] %></th>
      <th><%= hennkann[1] %></th>
      <th><%= hennkann[2] %></th>
      <th><%= hennkann[3] %></th>
      <th><%= hennkann[4] %></th>
      <th><%= hennkann[5] %></th>
      <th><%= hennkann[6] %></th>



      <th><%=all2[0] %></th>
      <th><%=all2[1] %></th>
      <th><%=all2[2] %></th>
      <th><%=all2[3] %></th>
      <th><%=all2[4] %></th>
      <th><%=all2[5] %></th>
      <th><%=all2[6] %></th>

      <th class="syousai"><a href="/publication/<%= item.id %>">詳細閲覧</a></th>





    </tr>


    <%  });%>
    <tr>
      <% var goukei=[]%>
      <% var oneall=0 %>
      <% var twoall=0 %>
      <% var threeall=0 %>
      <% var fourall=0 %>
      <% var fiveall=0 %>
      <% var sixall=0 %>
      <% var sevenall=0 %>

      <% for (let i = 0; i < items2.length; i++) { %>
      <% var item=items2[i] %>
      <!-- 得点一覧 -->
      <% var tokuten=[] %>
      <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
      <!-- クラスタイム（記録）-->
      <% var time1=[] %>
      <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
      <!-- クラスタイム（判定）-->
      <% var time2=[] %>
      <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
      <!--減点-->
      <% var genten=[] %>
      <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
      <!--半減-->
      <% var hanngen=[] %>
      <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>

      <!--タイム統合処理-->
      <% for (let f = 0; f < tokuten.length; f++) { %>
      <% if (time2[f] !== null) { %>
      <% time1[f]=time2[f]+time1[f] %>
      <% } %>
      <% } %>
      <!--順位処理-->
      <% if (item.hyouka ==0 ) { %>
      <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% }else if(item.hyouka ==1){ %>
      <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% } %>

      <!--得点変換処理-->
      <% var hennkann1=[] %>
      <% for (let g = 0; g < 7; g++) { %>
      <% hennkann1.push(tokuten[ranks[g]-1]) %>
      <% } %>


      <!--得点減点処理-->
      <% for (let h = 0; h < 7; h++) { %>
      <% hennkann1[h]=hennkann1[h]-genten[h] %>
      <% } %>
      <!--得点半減処理-->
      <% for (let k = 0; k < 7; k++) { %>
      <% if (hanngen[k]=="半減") { %>
      <% hennkann1[k]=hennkann1[k]/2 %>
      <% } %>
      <% } %>

      <!--未記入対策-->
      <% for (let n = 0; n < 7; n++) { %>
      <% if (time1[n]==null) { %>
      <% hennkann1[n]=0 %>
      <% } %>
      <% } %>
      <!--合計算出-->
      <% oneall=oneall+hennkann1[0] %>
      <% twoall=twoall+hennkann1[1] %>
      <% threeall=threeall+hennkann1[2] %>
      <% fourall=fourall+hennkann1[3] %>
      <% fiveall=fiveall+hennkann1[4] %>
      <% sixall=sixall+hennkann1[5] %>
      <% sevenall=sevenall+hennkann1[6] %>



      <% } %>

      <th colspan="2">合計</th>
      <th><%= oneall %></th>
      <th><%= twoall %></th>
      <th><%= threeall %></th>
      <th><%= fourall %></th>
      <th><%= fiveall %></th>
      <th><%= sixall %></th>
      <th><%= sevenall %></th>

      <% var allrank2=[]%>
      <% allrank2.push(oneall,twoall,threeall,fourall,fiveall,sixall,sevenall,)%>
      <% var sorted=allrank2.slice().sort(function(a, b){return b - a});%>
      <% var sougouzyunni2 = allrank2.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <th><%= sougouzyunni2[0] %></th>
      <th><%= sougouzyunni2[1] %></th>
      <th><%= sougouzyunni2[2] %></th>
      <th><%= sougouzyunni2[3] %></th>
      <th><%= sougouzyunni2[4] %></th>
      <th><%= sougouzyunni2[5] %></th>
      <th><%= sougouzyunni2[6] %></th>
    </tr>
  </table>
  <table>
    <tr>
      <th colspan="2" class="with">
        H3競技結果
      </th>
      <th colspan="7">
        得点
      </th>
      <th colspan="7">
        順位
      </th>
      <th colspan="1" class="with2">
        詳細閲覧ボタン
      </th>
    </tr>
    <tr>
      <th> 競技名</th>
      <th>学年</th>
      <th class="yellow">1組</th>
      <th class="black">2組</th>
      <th class="red">3組</th>
      <th class="green">4組</th>
      <th class="orange">5組</th>
      <th class="pink">6組</th>
      <th class="purple">7組</th>
      <th class="yellow">1組</th>
      <th class="black">2組</th>
      <th class="red">3組</th>
      <th class="green">4組</th>
      <th class="orange">5組</th>
      <th class="pink">6組</th>
      <th class="purple">7組</th>
      <th>記録</th>
    </tr>

    <% items3.forEach((item)=> {%>
    <!-- 得点一覧 -->
    <% var tokuten=[] %>
    <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
    <!-- クラスタイム（記録）-->
    <% var time1=[] %>
    <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
    <!-- クラスタイム（判定）-->
    <% var time2=[] %>
    <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
    <!--減点-->
    <% var genten=[] %>
    <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
    <!--半減-->
    <% var hanngen=[] %>
    <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>
    <!--タイム統合処理-->
    <% for (let i = 0; i < tokuten.length; i++) { %>
    <% if (time2[i] !== null) { %>
    <% time1[i]=time2[i]+time1[i] %>
    <% } %>
    <% } %>
    <!--順位処理-->
    <% if (item.hyouka ==0 ) { %>
    <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% }else if(item.hyouka ==1){ %>
    <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% } %>
    <!--得点変換処理-->
    <% var hennkann=[] %>
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann.push(tokuten[ranks[i]-1]) %>
    <% } %>
    <!--得点減点処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann[i]=hennkann[i]-genten[i] %>
    <% } %>
    <!--得点半減処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (hanngen[i]=="半減") { %>
    <% hennkann[i]=hennkann[i]/2 %>

    <% } %>
    <% } %>
    <!--総合順位-->

    <% var sorted2=hennkann.slice().sort(function(a, b){return b - a});%>
    <% var all2 = hennkann.slice().map(function(x){return sorted2.indexOf(x) + 1});%>
    <!--未記入対策-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (time1[i]==null) { %>
    <% hennkann[i]="" %>
    <% all2[i]="" %>

    <% } %>
    <% } %>


    <tr>

      <th><%= item.name %></th>
      <th><%= item.grade %></th>
      <th><%= hennkann[0] %></th>
      <th><%= hennkann[1] %></th>
      <th><%= hennkann[2] %></th>
      <th><%= hennkann[3] %></th>
      <th><%= hennkann[4] %></th>
      <th><%= hennkann[5] %></th>
      <th><%= hennkann[6] %></th>



      <th><%=all2[0] %></th>
      <th><%=all2[1] %></th>
      <th><%=all2[2] %></th>
      <th><%=all2[3] %></th>
      <th><%=all2[4] %></th>
      <th><%=all2[5] %></th>
      <th><%=all2[6] %></th>

      <th class="syousai"><a href="/publication/<%= item.id %>">詳細閲覧</a></th>





    </tr>


    <%  });%>
    <tr>
      <% var goukei=[]%>
      <% var oneall=0 %>
      <% var twoall=0 %>
      <% var threeall=0 %>
      <% var fourall=0 %>
      <% var fiveall=0 %>
      <% var sixall=0 %>
      <% var sevenall=0 %>

      <% for (let i = 0; i < items3.length; i++) { %>
      <% var item=items3[i] %>
      <!-- 得点一覧 -->
      <% var tokuten=[] %>
      <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
      <!-- クラスタイム（記録）-->
      <% var time1=[] %>
      <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
      <!-- クラスタイム（判定）-->
      <% var time2=[] %>
      <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
      <!--減点-->
      <% var genten=[] %>
      <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
      <!--半減-->
      <% var hanngen=[] %>
      <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>

      <!--タイム統合処理-->
      <% for (let f = 0; f < tokuten.length; f++) { %>
      <% if (time2[f] !== null) { %>
      <% time1[f]=time2[f]+time1[f] %>
      <% } %>
      <% } %>
      <!--順位処理-->
      <% if (item.hyouka ==0 ) { %>
      <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% }else if(item.hyouka ==1){ %>
      <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% } %>

      <!--得点変換処理-->
      <% var hennkann1=[] %>
      <% for (let g = 0; g < 7; g++) { %>
      <% hennkann1.push(tokuten[ranks[g]-1]) %>
      <% } %>


      <!--得点減点処理-->
      <% for (let h = 0; h < 7; h++) { %>
      <% hennkann1[h]=hennkann1[h]-genten[h] %>
      <% } %>
      <!--得点半減処理-->
      <% for (let k = 0; k < 7; k++) { %>
      <% if (hanngen[k]=="半減") { %>
      <% hennkann1[k]=hennkann1[k]/2 %>
      <% } %>
      <% } %>

      <!--未記入対策-->
      <% for (let n = 0; n < 7; n++) { %>
      <% if (time1[n]==null) { %>
      <% hennkann1[n]=0 %>
      <% } %>
      <% } %>
      <!--合計算出-->
      <% oneall=oneall+hennkann1[0] %>
      <% twoall=twoall+hennkann1[1] %>
      <% threeall=threeall+hennkann1[2] %>
      <% fourall=fourall+hennkann1[3] %>
      <% fiveall=fiveall+hennkann1[4] %>
      <% sixall=sixall+hennkann1[5] %>
      <% sevenall=sevenall+hennkann1[6] %>



      <% } %>

      <th colspan="2">合計</th>
      <th><%= oneall %></th>
      <th><%= twoall %></th>
      <th><%= threeall %></th>
      <th><%= fourall %></th>
      <th><%= fiveall %></th>
      <th><%= sixall %></th>
      <th><%= sevenall %></th>

      <% var allrank3=[]%>
      <% allrank3.push(oneall,twoall,threeall,fourall,fiveall,sixall,sevenall)%>
      <% var sorted=allrank3.slice().sort(function(a, b){return b - a});%>
      <% var sougouzyunni3 = allrank3.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <th><%= sougouzyunni3[0] %></th>
      <th><%= sougouzyunni3[1] %></th>
      <th><%= sougouzyunni3[2] %></th>
      <th><%= sougouzyunni3[3] %></th>
      <th><%= sougouzyunni3[4] %></th>
      <th><%= sougouzyunni3[5] %></th>
      <th><%= sougouzyunni3[6] %></th>
    </tr>
  </table>
  <table>

    <tr>
      <th colspan="2" class="with">
        色別競技
      </th>
      <th colspan="7">
        得点
      </th>
      <th colspan="7">
        順位
      </th>
      <th colspan="1" class="with2">
        詳細閲覧ボタン
      </th>
    </tr>
    <tr>
      <th colspan="2"> 競技名</th>
      <th class="color red">赤</th>
      <th class="color orange">オ</th>
      <th class="color yellow">黄</th>
      <th class="color green">緑</th>
      <th class="color blue">青</th>
      <th class="color purple">紫</th>
      <th class="color black">黒</th>
      <th class="color red">赤</th>
      <th class="color orange">オ</th>
      <th class="color yellow">黄</th>
      <th class="color green">緑</th>
      <th class="color blue">青</th>
      <th class="color purple">紫</th>
      <th class="color black">黒</th>
      <th>記録</th>
    </tr>

    <% items4.forEach((item)=> {%>
    <!-- 得点一覧 -->
    <% var tokuten=[] %>
    <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
    <!-- クラスタイム（記録）-->
    <% var time1=[] %>
    <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
    <!-- クラスタイム（判定）-->
    <% var time2=[] %>
    <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
    <!--減点-->
    <% var genten=[] %>
    <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
    <!--半減-->
    <% var hanngen=[] %>
    <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>
    <!--タイム統合処理-->
    <% for (let i = 0; i < tokuten.length; i++) { %>
    <% if (time2[i] !== null) { %>
    <% time1[i]=time2[i]+time1[i] %>
    <% } %>
    <% } %>
    <!--順位処理-->
    <% if (item.hyouka ==0 ) { %>
    <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% }else if(item.hyouka ==1){ %>
    <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
    <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
    <% } %>
    <!--得点変換処理-->
    <% var hennkann=[] %>
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann.push(tokuten[ranks[i]-1]) %>
    <% } %>
    <!--得点減点処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% hennkann[i]=hennkann[i]-genten[i] %>
    <% } %>
    <!--得点半減処理-->
    <% for (let i = 0; i < 7; i++) { %>
    <% if (hanngen[i]=="半減") { %>
    <% hennkann[i]=hennkann[i]/2 %>

    <% } %>
    <% } %>
    <!--総合順位-->

    <% var sorted2=hennkann.slice().sort(function(a, b){return b - a});%>
    <% var all2 = hennkann.slice().map(function(x){return sorted2.indexOf(x) + 1});%>
    <!--未記入対策-->
    <% for (let i = 0; i < 8; i++) { %>
    <% if (time1[i]==null) { %>
    <% hennkann[i]="" %>
    <% all2[i]="" %>

    <% } %>
    <% } %>


    <tr>

      <th colspan="2"><%= item.name %></th>
      <th><%= hennkann[0] %></th>
      <th><%= hennkann[1] %></th>
      <th><%= hennkann[2] %></th>
      <th><%= hennkann[3] %></th>
      <th><%= hennkann[4] %></th>
      <th><%= hennkann[5] %></th>
      <th><%= hennkann[6] %></th>
      <th><%= hennkann[7] %></th>



      <th><%=all2[0] %></th>
      <th><%=all2[1] %></th>
      <th><%=all2[2] %></th>
      <th><%=all2[3] %></th>
      <th><%=all2[4] %></th>
      <th><%=all2[5] %></th>
      <th><%=all2[6] %></th>
      <th><%=all2[7] %></th>

      <th class="syousai"><a href="/colorpublication/<%= item.id %>">詳細閲覧</a></th>





    </tr>


    <%  });%>
    <tr>
      <% var goukei=[]%>
      <% var oneall=0 %>
      <% var twoall=0 %>
      <% var threeall=0 %>
      <% var fourall=0 %>
      <% var fiveall=0 %>
      <% var sixall=0 %>
      <% var sevenall=0 %>

      <% for (let i = 0; i < items4.length; i++) { %>
      <% var item=items4[i] %>
      <!-- 得点一覧 -->
      <% var tokuten=[] %>
      <% tokuten.push(item.one,item.two,item.three,item.four,item.five,item.six,item.seven) %>
      <!-- クラスタイム（記録）-->
      <% var time1=[] %>
      <% time1.push(item.onekiroku,item.twokiroku,item.threekiroku,item.fourkiroku,item.fivekiroku,item.sixkiroku,item.sevenkiroku) %>
      <!-- クラスタイム（判定）-->
      <% var time2=[] %>
      <% time2.push(item.onec,item.twoc,item.threec,item.fourc,item.fivec,item.sixc,item.sevenc) %>
      <!--減点-->
      <% var genten=[] %>
      <% genten.push(item.onep,item.twop,item.threep,item.fourp,item.fivep,item.sixp,item.sevenp) %>
      <!--半減-->
      <% var hanngen=[] %>
      <% hanngen.push(item.oneh,item.twoh,item.threeh,item.fourh,item.fiveh,item.sixh,item.sevenh) %>

      <!--タイム統合処理-->
      <% for (let f = 0; f < tokuten.length; f++) { %>
      <% if (time2[f] !== null) { %>
      <% time1[f]=time2[f]+time1[f] %>
      <% } %>
      <% } %>
      <!--順位処理-->
      <% if (item.hyouka ==0 ) { %>
      <% var sorted=time1.slice().sort(function(a, b){return b - a});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% }else if(item.hyouka ==1){ %>
      <% var sorted=time1.slice().sort(function(a, b){return a - b});%>
      <% var ranks = time1.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <% } %>

      <!--得点変換処理-->
      <% var hennkann1=[] %>
      <% for (let g = 0; g < 7; g++) { %>
      <% hennkann1.push(tokuten[ranks[g]-1]) %>
      <% } %>


      <!--得点減点処理-->
      <% for (let h = 0; h < 7; h++) { %>
      <% hennkann1[h]=hennkann1[h]-genten[h] %>
      <% } %>
      <!--得点半減処理-->
      <% for (let k = 0; k < 7; k++) { %>
      <% if (hanngen[k]=="半減") { %>
      <% hennkann1[k]=hennkann1[k]/2 %>
      <% } %>
      <% } %>

      <!--未記入対策-->
      <% for (let n = 0; n < 7; n++) { %>
      <% if (time1[n]==null) { %>
      <% hennkann1[n]=0 %>
      <% } %>
      <% } %>
      <!--合計算出-->
      <% oneall=oneall+hennkann1[0] %>
      <% twoall=twoall+hennkann1[1] %>
      <% threeall=threeall+hennkann1[2] %>
      <% fourall=fourall+hennkann1[3] %>
      <% fiveall=fiveall+hennkann1[4] %>
      <% sixall=sixall+hennkann1[5] %>
      <% sevenall=sevenall+hennkann1[6] %>



      <% } %>

      <th colspan="2">合計</th>
      <th><%= oneall %></th>
      <th><%= twoall %></th>
      <th><%= threeall %></th>
      <th><%= fourall %></th>
      <th><%= fiveall %></th>
      <th><%= sixall %></th>
      <th><%= sevenall %></th>

      <% var allrank4=[]%>
      <% allrank4.push(oneall,twoall,threeall,fourall,fiveall,sixall,sevenall)%>
      <% var sorted=allrank4.slice().sort(function(a, b){return b - a});%>
      <% var sougouzyunni4 = allrank4.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <th><%= sougouzyunni4[0] %></th>
      <th><%= sougouzyunni4[1] %></th>
      <th><%= sougouzyunni4[2] %></th>
      <th><%= sougouzyunni4[3] %></th>
      <th><%= sougouzyunni4[4] %></th>
      <th><%= sougouzyunni4[5] %></th>
      <th><%= sougouzyunni4[6] %></th>
    </tr>
  </table>
  <table>
    <tr>
      <th colspan="2" class="with">
        色合計
      </th>
      <th colspan="7">
        得点
      </th>
      <th colspan="7">
        順位
      </th>
    </tr>
    <tr>
      <th colspan="2">
        学年
      </th>
      <th class="color red">赤</th>
      <th class="color orange">オ</th>
      <th class="color yellow">黄</th>
      <th class="color green">緑</th>
      <th class="color blue">青</th>
      <th class="color purple">紫</th>
      <th class="color black">黒</th>
      <th class="color red">赤</th>
      <th class="color orange">オ</th>
      <th class="color yellow">黄</th>
      <th class="color green">緑</th>
      <th class="color blue">青</th>
      <th class="color purple">紫</th>
      <th class="color black">黒</th>


    </tr>
    <tr>
      <th colspan="2">
        H1
      </th>
      <th><%= allrank1[0] %></th>
      <th><%= allrank1[6] %></th>
      <th><%= allrank1[4] %></th>
      <th><%= allrank1[3] %></th>
      <th><%= allrank1[1] %></th>
      <th><%= allrank1[5] %></th>
      <th><%= allrank1[2] %></th>

      <th><%= sougouzyunni1[0] %></th>
      <th><%= sougouzyunni1[6] %></th>
      <th><%= sougouzyunni1[4] %></th>
      <th><%= sougouzyunni1[3] %></th>
      <th><%= sougouzyunni1[1] %></th>
      <th><%= sougouzyunni1[5] %></th>
      <th><%= sougouzyunni1[2] %></th>


    </tr>
    <tr>
      <th colspan="2">
        H2
      </th>
      <th><%= allrank2[0] %></th>
      <th><%= allrank2[5] %></th>
      <th><%= allrank2[1] %></th>
      <th><%= allrank2[4] %></th>
      <th><%= allrank2[6] %></th>
      <th><%= allrank2[2] %></th>
      <th><%= allrank2[2] %></th>

      <th><%= sougouzyunni2[0] %></th>
      <th><%= sougouzyunni2[6] %></th>
      <th><%= sougouzyunni2[2] %></th>
      <th><%= sougouzyunni2[5] %></th>
      <th><%= sougouzyunni2[3] %></th>
      <th><%= sougouzyunni2[3] %></th>
      <th><%= sougouzyunni2[3] %></th>

    </tr>
    <tr>
      <th colspan="2">
        H3
      </th>
      <th><%= allrank2[0] %></th>
      <th><%= allrank2[5] %></th>
      <th><%= allrank2[1] %></th>
      <th><%= allrank2[4] %></th>
      <th><%= allrank2[6] %></th>
      <th><%= allrank2[2] %></th>
      <th><%= allrank2[2] %></th>

      <th><%= sougouzyunni2[0] %></th>
      <th><%= sougouzyunni2[6] %></th>
      <th><%= sougouzyunni2[2] %></th>
      <th><%= sougouzyunni2[5] %></th>
      <th><%= sougouzyunni2[3] %></th>
      <th><%= sougouzyunni2[3] %></th>
      <th><%= sougouzyunni2[3] %></th>

    </tr>
    <tr>
      <th colspan="2">
        色別競技
      </th>
      <th><%= allrank4[0] %></th>
      <th><%= allrank4[1] %></th>
      <th><%= allrank4[2] %></th>
      <th><%= allrank4[3] %></th>
      <th><%= allrank4[4] %></th>
      <th><%= allrank4[5] %></th>
      <th><%= allrank4[6] %></th>
      <th><%= sougouzyunni4[0] %></th>
      <th><%= sougouzyunni4[1] %></th>
      <th><%= sougouzyunni4[2] %></th>
      <th><%= sougouzyunni4[3] %></th>
      <th><%= sougouzyunni4[4] %></th>
      <th><%= sougouzyunni4[5] %></th>
      <th><%= sougouzyunni4[6] %></th>
    </tr>
    <tr>
      <th colspan="2">
        合計
      </th>

      <th><%= allrank1[0]+allrank2[7]+allrank3[2]+allrank4[0] %></th>
      <th><%= allrank1[6]+allrank2[0]+allrank3[4]+allrank4[1] %></th>
      <th><%= allrank1[4]+allrank2[5]+allrank3[0]+allrank4[2] %></th>
      <th><%= allrank1[3]+allrank2[1]+allrank3[3]+allrank4[3] %></th>
      <th><%= allrank1[1]+allrank2[4]+allrank3[7]+allrank4[4] %></th>
      <th><%= allrank1[5]+allrank2[6]+allrank3[6]+allrank4[5] %></th>
      <th><%= allrank1[2]+allrank2[2]+allrank3[1]+allrank4[6] %></th>
      <% var allrank5=[]%>

      <% allrank5.push(allrank1[0]+allrank2[7]+allrank3[2]+allrank4[0]) %>
      <% allrank5.push(allrank1[6]+allrank2[0]+allrank3[4]+allrank4[1]) %>
      <% allrank5.push(allrank1[4]+allrank2[5]+allrank3[0]+allrank4[2]) %>
      <% allrank5.push(allrank1[3]+allrank2[1]+allrank3[3]+allrank4[3]) %>
      <% allrank5.push(allrank1[1]+allrank2[4]+allrank3[7]+allrank4[4]) %>
      <% allrank5.push(allrank1[5]+allrank2[6]+allrank3[6]+allrank4[5]) %>
      <% allrank5.push(allrank1[2]+allrank2[2]+allrank3[1]+allrank4[6]) %>

      <% var sorted=allrank5.slice().sort(function(a, b){return b - a});%>
      <% var sougouzyunni5 = allrank5.slice().map(function(x){return sorted.indexOf(x) + 1});%>
      <th><%= sougouzyunni5[0] %></th>
      <th><%= sougouzyunni5[1] %></th>
      <th><%= sougouzyunni5[2] %></th>
      <th><%= sougouzyunni5[3] %></th>
      <th><%= sougouzyunni5[4] %></th>
      <th><%= sougouzyunni5[5] %></th>
      <th><%= sougouzyunni5[6] %></th>
    </tr>





  </table>
  <a href="/" class="menu">メニューに戻る</a>


</body>

</html>