<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>得点登録</title>

  <link rel="stylesheet" href="/css/publications.css">
</head>
<body>
  <% if(items.hyouka==1){ %>
  <%var hyouka= "昇順" %>
  <% }else if(items.hyouka==0){ %>
  <%var hyouka= "降順" %>
  <%};%>
  <h1>競技名:<%= items.name %>　　参加学年:<%= items.grade %>　　評価基準:<%= hyouka %></h1>
  <h1></h1>

  </h1>
  <form action="/resultedit/<%= items.id %>" method="post">
    <table>
      <% if (items.grade =="H1" ){ %>
        <%=  %>
        <%  var color1="red" %>
        <%  var color2="blue" %>
        <%  var color3="black" %>
        <%  var color4="green" %>
        <%  var color5="yellow" %>
        <%  var color6="purple" %>
        <%  var color7="orange" %>
        <%  var color8="pink" %>

       <% }else if(items.grade=="H2"){ %>
        <%  var color8="red" %>
        <%  var color5="blue" %>
        <%  var color3="black" %>
        <%  var color2="green" %>
        <%  var color6="yellow" %>
        <%  var color7="purple" %>
        <%  var color1="orange" %>
        <%  var color4="pink" %>
       <% }else if(items.grade=="H3"){ %>
        <%  var color3="red" %>
        <%  var color5="blue" %>
        <%  var color1="black" %>
        <%  var color4="green" %>
        <%  var color8="yellow" %>
        <%  var color7="purple" %>
        <%  var color2="orange" %>
        <%  var color6="pink" %>
       <% } %>
      <tr>
        <th class="<%= color1 %>">1組-記録</th>
        <th class="<%= color2 %>">2組-記録</th>
        <th class="<%= color3 %>">3組-記録</th>
        <th class="<%= color4 %>">4組-記録</th>
        <th class="<%= color5 %>">5組-記録</th>
        <th class="<%= color6 %>">6組-記録</th>
        <th class="<%= color7 %>">7組-記録</th>
        <th class="<%= color8 %>">8組-記録</th>

      </tr>
      <tr>
        <th>
          <% if(items.onekiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.onekiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.twokiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.twokiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.threekiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.threekiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.fourkiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.fourkiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.fivekiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.fivekiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.sixkiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.sixkiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.sevenkiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.sevenkiroku %>

          <% }; %>
        </th>
        <th>
          <% if(items.eightkiroku==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.eightkiroku%>

          <% }; %>
        </th>
      </tr>
    </table>
    <table>
      <th>1組-減点考慮済み記録</th>
      <th>2組-減点考慮済み記録</th>
      <th>3組-減点考慮済み記録</th>
      <th>4組-減点考慮済み記録</th>
      <th>5組-減点考慮済み記録</th>
      <th>6組-減点考慮済み記録</th>
      <th>7組-減点考慮済み記録</th>
      <th>8組-減点考慮済み記録</th>
      <tr>
        <th>
          <% if(items.onec==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.onec %>

          <% }; %>
        </th>
        <th>
          <% if(items.twoc==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.twoc %>

          <% }; %>
        </th>
        <th>
          <% if(items.threec==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.threec %>

          <% }; %>
        </th>
        <th>
          <% if(items.fourc==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.fourc %>

          <% }; %>
        </th>
        <th>
          <% if(items.fivec==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.fivec %>

          <% }; %>
        </th>
        <th>
          <% if(items.sixc==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.sixc %>

          <% }; %>
        </th>
        <th>
          <% if(items.sevenc==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.sevenc %>

          <% }; %>
        </th>
        <th>
          <% if(items.eightc==null){ %>
          <%= "未記入" %>
          <%}else{%>
          <%= items.eighc %>

          <% }; %>
        </th>


      </tr>
    </table>
    <table>
      <tr>
        <th>1組-減点</th>
        <th>2組-減点</th>
        <th>3組-減点</th>
        <th>4組-減点</th>
        <th>5組-減点</th>
        <th>6組-減点</th>
        <th>7組-減点</th>
        <th>8組-減点</th>

      </tr>
      <tr>
        <th>
          <% if(items.onep==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.onep %>

          <% }; %>
        </th>
        <th>
          <% if(items.twop==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.twop %>

          <% }; %>
        </th>
        <th>
          <% if(items.threep==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.threep %>

          <% }; %>
        </th>
        <th>
          <% if(items.fourp==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.fourp %>

          <% }; %>
        </th>
        <th>
          <% if(items.fivep==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.fivep %>

          <% }; %>
        </th>
        <th>
          <% if(items.sixp==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.sixp %>

          <% }; %>
        </th>
        <th>
          <% if(items.sevenp==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.sevenp %>

          <% }; %>
        </th>
        <th>
          <% if(items.eightp==null){ %>
          <%= 0 %>
          <%}else{%>
          <%= items.eightp %>

          <% }; %>
        </th>
      </tr>
    </table>
    <table>
      <tr>
        <th>1組-半減</th>
        <th>2組-半減</th>
        <th>3組-半減</th>
        <th>4組-半減</th>
        <th>5組-半減</th>
        <th>6組-半減</th>
        <th>7組-半減</th>
        <th>8組-半減</th>

      </tr>
      <tr>
        <th><% if(items.oneh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.twoh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.threeh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.fourh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.fiveh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.sixh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.sevenh=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>

        <th><% if(items.eighth=="半減"){ %>
          <%= "半減" %>
          <%}else{%>
          <%= "なし" %>

          <% }; %></th>
      </tr>

    </table>
    <table>
      <tr>
        <th>1組-備考</th>
        <th>2組-備考</th>
        <th>3組-備考</th>
        <th>4組-備考</th>


      </tr>
      <tr>
        <th class="bikou"><%= items.oneb %></th>
        <th class="bikou"><%= items.twob %></th>
        <th class="bikou"><%= items.threeb %></th>
        <th class="bikou"><%= items.fourb %></th>






      </tr>
      <tr>
        <th>5組-備考</th>
        <th>6組-備考</th>
        <th>7組-備考</th>
        <th>8組-備考</th>
      </tr>
      <tr>
        <th class="bikou"><%= items.fiveb %></th>
        <th class="bikou"><%= items.sixb %></th>
        <th class="bikou"><%= items.sevenb %></th>
        <th class="bikou"><%= items.eightb %></th>

      </tr>
    </table>
    <a href="/publication" class="submit">一覧に戻る</a>
  </form>
</body>
</html>